<!DOCTYPE html>
<html lang="en" ng-app="md1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compitable" content="IE=edge">
    <!--[if lt IE9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![end if]-->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/drawing room.css">
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
</head>
<body>

<!--navbar开始-->
<header class="cd-main-header animate-search" name="top">
    <!--<div class="cd-logo"><img src="images/22.png" alt="Logo"></div>-->
    <a href="#1" > <img src="images/22.png" alt="Logo" class="cd-logo"></a>

    <nav class="cd-main-nav-wrapper">
        <a href="#search" class="cd-search-trigger cd-text-replace">Search
        </a>
        <img src="images/search.png">
        <ul class="cd-main-nav">
            <li><a href="index.html">首页</a></li>
            <li><a href="drawing room.html">客厅</a></li>
            <li><a href="bedroom.html">卧室</a></li>
            <li><a href="restaurant.html">餐厅</a></li>
            <li><a href="cookhouse.html">厨房</a></li>
        </ul> <!-- .cd-main-nav -->
    </nav> <!-- .cd-main-nav-wrapper -->

    <a href="#0" class="cd-nav-trigger cd-text-replace">Menu<span></span></a>
</header>
<main class="cd-main-content">

</main>
<div id="search" class="cd-main-search">
    <form>
        <input type="search" placeholder="Search...">
    </form>

    <div class="cd-search-suggestions">
        <div class="news">
            <h3>News</h3>
            <ul>
                <li>
                    <a class="image-wrapper" href="#0"><img src="images/aa2.jpg" alt="News image"></a>
                    <h4><a class="cd-nowrap" href="#0">简约儿童房，甜蜜亲子空间，给孩子一个幸福的童年。</a></h4>
                    <time datetime="2015-01-12">已发布<a href="#">相关家居</a></time>
                </li>

                <li>
                    <a class="image-wrapper" href="#0"><img src="images/p10.png" alt="News image"></a>
                    <h4><a class="cd-nowrap" href="#0">女人不可缺少的衣帽柜</a></h4>
                    <time datetime="2015-01-12">已发布<a href="#">相关家居</a></time>
                </li>

                <li>
                    <a class="image-wrapper" href="#0"><img src="images/aa4.jpg" alt="News image"></a>
                    <h4><a class="cd-nowrap" href="#0">还在担心家里的储物功能有缺陷吗</a></h4>
                    <time datetime="2015-01-12">已发布<a href="#">相关家居</a></time>
                </li>
            </ul>
        </div> <!-- .news -->
    </div> <!-- .cd-search-suggestions -->
    <a href="#0" class="close cd-text-replace">Close Form</a>
</div> <!-- .cd-main-search -->
<div class="cd-cover-layer"></div> <!-- cover main content when search form is open -->
<!--navbar结束-->
<!--分类开始-->
    <section class="keting_1">
        <section class="container">
            <section class="row row2">
                <section class="col-md-3 col-sm-12">
                    <span>客厅家具</span>
                    <h3>我们应有的生活态度</h3>
                    <p>情调是一种心情，一种修养，一种必备的生活态度。就像一本书，可以没有精致的
                        封面与扉页，但一定要有充实的内容。如同每个人都有故事，客厅是分享您的人生故事的好地方。我们的客厅家具可助您展示自己曾经做过的事情和到过的地方，
                        让您更生动地呈现自己的故事。还有很多舒适的座椅，因为与最爱的人分享自己的人生故事是最令人幸福的事。
                    </p>
                    <a href="#1">更多客厅系列>></a>
                </section>
                <section class="col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt1.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>沙发和扶手椅<span>(400)</span></h3>
                            <a href="#1">布艺沙发, 皮沙发/</a>
                            <a href="#1">人造革沙发,</a>
                            <a href="#1">沙发床,</a>
                            <a href="#1">组合沙发,</a>
                            <a href="#1">贵妃椅,</a>
                            <a href="#1">脚凳和矮凳,</a>
                            <a href="#1"> 单人沙发/扶手椅,</a>
                            <a href="#1">备用沙发套,</a>
                            <a href="#1">额外支腿</a>
                        </div>
                    </div>
                </section>
                <section class="col-md-3 col-sm-12">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt2.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>电视及视听类家具<span>(130)</span></h3>
                            <a href="#1">电视柜,</a>
                            <a href="#1">电视及视听设备储物</a>
                        </div>
                    </div>
                </section>
            </section>
            <section class="row row3">
                <section class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt3.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>客厅储物<span>(600)</span></h3>
                            <a href="#1">餐边柜和长几,</a>
                            <a href="#1">书柜,</a>
                            <a href="#1">搁架单元,</a>
                            <a href="#1">连壁搁板,</a>
                            <a href="#1">橱柜和展示柜,</a>
                            <a href="#1">储物盒和储物篮,</a>
                        </div>
                    </div>
                </section>
                <section class="col-md-2">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt4.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>茶几和边桌<span>(56)</span></h3>
                            <a href="#1">茶几,</a>
                            <a href="#1">边桌,</a>
                            <a href="#1">视听用品储物台,</a>
                        </div>
                    </div>
                </section>
                <section class="col-md-2">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt5.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>照明<span>(330)</span></h3>
                            <a href="#1">LED灯具,</a>
                            <a href="#1">台灯,</a>
                            <a href="#1">落地灯,</a>
                            <a href="#1">顶灯,</a>
                            <a href="#1">内置照明,</a>
                            <a href="#1">壁灯,</a>
                            <a href="#1">灯泡和配件</a>
                        </div>
                    </div>
                </section>
                <section class="col-md-2">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt6.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>编织品<span>(47)</span></h3>
                            <a href="#1">靠垫和靠垫套,</a>
                        </div>
                    </div>
                </section>
                <section class="col-md-2">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt7.png" class="img-responsive center-block">
                        <div class="caption">
                            <h3>所有产品</h3>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
<!--分类结束-->
<!--展示结束-->
    <section class="show">
        <section class="container">
            <a href="#1">查看展示区>></a>
            <h3>找到你心仪得客厅</h3>
            <section class="row row2">
                <section class="col-md-6">
                    <img src="images/drawing room/kt8.png" class="img-responsive center-block img2">
                    <div class="div2">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="glyphicon glyphicon-download-alt"></span>
                        <span class="glyphicon glyphicon-qrcode"></span>
                    </div>
                </section>
                <section class="col-md-6">
                    <section class="row row2">
                        <section class="col-md-6">
                            <img src="images/drawing room/kt9.png" class="img-responsive center-block img1">
                            <div class="div1">
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span class="glyphicon glyphicon-qrcode"></span>
                            </div>
                        </section>
                        <section class="col-md-6">
                            <img src="images/drawing room/kt10.png" class="img-responsive center-block img1">
                            <div class="div1">
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span class="glyphicon glyphicon-qrcode"></span>
                            </div>
                        </section>
                        <section class="col-md-6">
                            <img src="images/drawing room/kt11.png" class="img-responsive center-block img1">
                            <div class="div1">
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span class="glyphicon glyphicon-qrcode"></span>
                            </div>
                        </section>
                        <section class="col-md-6">
                            <img src="images/drawing room/k12.png" class="img-responsive center-block img1">
                            <div class="div1">
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span class="glyphicon glyphicon-qrcode"></span>
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
<!--展示结束-->
<!--展示1开始-->
    <section class="chuangyi">
        <section class="container" ng-controller="a">
            <span>客厅创意</span>
            <h3>打造理想客厅的创意</h3>
            <section class="se1">
                    <span class="glyphicon glyphicon-chevron-left" ng-click="prev()"></span>
                    <img ng-src="images/gexing/{{i}}.png" />
                    <span class="glyphicon glyphicon-chevron-right" ng-click="next()"></span>
            </section>
            <p>
                欢迎来到客厅展示区，这里的客厅家具组合种类繁多、风格不一、大小各异、价格也都合理。我们已经为您搭配好产品，所以您在家也可轻松布置。我们根据区域或功能对产品进行分组，帮助您更加轻松地找到所需的东西。四处看看，寻找我们为您提供的最佳客厅吧。
            </p>
        </section>
    </section>
<!--展示1结束-->
<!--模块1开始-->
    <section class="se2">
        <section class="container">
            <span>就在宜家宜居</span>
            <h3>还有更多你想要的</h3>
            <section class="row">
                <sectrion class="col-md-7">
                    <img src="images/drawing room/kt12.png" alt="">
                </sectrion>
                <sectrion class="col-md-5">
                    <div class="thumbnail">
                        <img src="images/drawing room/kt13.png" class="img-responsive center-block">
                        <div class="caption">
                           <p>细节：选择了实木材质，它经久耐用，风格朴实，随着时间流逝还会显得愈发美丽。</p>
                            <a href="#">查看更多客厅储物产品>></a>
                        </div>
                    </div>
                </sectrion>
                <sectrion class="col-md-7">
                    <img src="images/drawing room/kt14.png" alt="">
                </sectrion>
                <sectrion class="col-md-5">
                        <img src="images/drawing room/kt15.png" class="img-responsive center-block">
                </sectrion>
            </section>
            <a href="#">查看更多的茶几边几</a>
        </section>
    </section>
<!--模块2结束-->
<!--模块8开始-->
<section class="mokuai8">
    <section class="container">
        <h3>更多房间:</h3>
        <section class="row">
            <section class="col-md-3 col-sm-12">
                <a href="#">卧室</a>
                <a href="#">厨房</a>
                <a href="#">宜家宜居儿童房</a>
                <a href="#">客厅</a>
                <a href="#">客厅软装类</a>
                <a href="#">家庭工作室</a>
            </section>
            <section class="col-md-3 col-sm-12">
                <a href="#">小型储物</a>
                <a href="#">大型储物</a>
                <a href="#">洗衣房</a>
                <a href="#">浴室</a>
                <a href="#">灯具</a>
                <a href="#">阳台休闲装饰</a>
            </section>
            <section class="col-md-3 col-sm-12">
                <a href="#">餐厅</a>
                <a href="#">餐厅储物</a>
                <a href="#">餐厅软装装饰</a>
                <a href="#">门厅</a>
                <a href="#">门厅储物</a>
            </section>
            <section class="col-md-3 col-sm-12">
                <a href="#">流行色</a>
            </section>
        </section>
    </section>
</section>
<!--模块8结束-->
<!--模块9开始-->
<section class="mokuai9">
    <section class="container">
        <section class="row">
            <section class="col-md-2 col-sm-12">
                <h5>客户服务</h5>
                <a href="#">购物攻略</a>
                <a href="#">宜家宜居店铺</a>
                <a href="#">宜家宜居服务</a>
                <a href="#">更多服务</a>
            </section>
            <section class="col-md-2 col-sm-12">
                <h5>宜家宜居概念</h5>
                <a href="#">设计理念</a>
                <a href="#">民主设计</a>
                <a href="#">关于我们</a>
            </section>
            <section class="col-md-2 col-sm-12">
                <h5>宜家宜居俱乐部</h5>
                <a href="#">免费加入</a>
                <a href="#">更多优惠</a>
            </section>
            <section class="col-md-2 col-sm-12">
                <h5>服务热线</h5>
                <a href="#" class="glyphicon glyphicon-earphone"> 100-400-2047</a>
            </section>
            <section class="col-md-2 col-sm-12">
                <h5>售后服务</h5>
                <a href="#">退换货说明</a>
                <a href="#">退单流程</a>
                <a href="#">投诉受理</a>
            </section>
            <section class="col-md-2 col-sm-12">
                <h5>购物指南</h5>
                <a href="#">下单流程</a>
            </section>
        </section>
    </section>
</section>
<!--模块9结束-->
<!--模块10结束-->
<footer>
    <section class="container">
        <section class="row">
            <section class="col-md-12">
                <p>Copyright &copy; 2015.Company name All rights reserved|沪ICP备 09056035号 </p>
            </section>
        </section>
        <section class="tubiao">
            <a href="#top"><img src="images/BackToTopArrow.png" alt=""></a>
        </section>
    </section>
</footer>
<!--模块10结束-->


<script src="js/jquery-1.11.3.js"></script>
<script src="js/modernizr.js"></script> <!-- Modernizr -->
<script src="js/bootstrap.js"></script>
<script src="js/main.js"></script>
<script src="js/angular.js"></script>
<script src="js/drawing room.js"></script>
</body>
</html>